[Unit]
Description=Refresh System Font Cache
RequiresMountsFor=/var

[Service]
Type=oneshot
ExecStart=/usr/bin/fc-cache -r -f -s -v
ExecStart=/usr/bin/systemctl disable %n
ExecStart=/usr/bin/systemctl mask %n
RemainAfterExit=false

[Install]
WantedBy=multi-user.target